body {
  display: grid;
  place-items: center;
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
  margin: 0px;
  color: #181818;
  background-color: #fff;
}

.header {
  display: grid;
  place-items: center;
}

h1 {
  font-size: 30px;
  text-align: center;
}

h2 {
  font-size: 18px;
  text-align: center;
}

#logo {
  min-width: 70px;
  max-width: 140px;
  margin-top: 2rem;
}

form {
  max-width: 500px;
}

a {
  color: #1db954;
}

.footing {
  text-align: center;
}

